.clear{
	clear: both;
}

.thfo-mailalert-del {
    background-color: #E0FCBA;
    padding: 1em;
    shape-margin: 2px;
}
.widget_thfo_mailalert input {
	float: left;
	width: 60%;
}

.widget_thfo_mailalert label {
	float: left;
	width: 40%;
}

.wpcasama-widget-field {
	clear: both;
}

/**
Style added in 2.0.0
 */

/**
Account Page
 */
.alert_main {
	float: left;
	width: auto;
	margin: 10px 10px 0 0;
	border: 1px black solid;
	padding: 5px;
}

.wpcasama-account-top p {
	float: left;
}

.clear{
	clear: both;
}

.wpcasama-account-top p {
	float: left;
	margin-right: 1em;
}

input[type="submit"] {
	margin-top: 10px;
}